<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

	<cb:define svn_server = "http://seiudvikling.sst.dk" />
	<cb:define localpathAbs = "C:\SST\svn\trunk\Sandbox\CIServer2" />
	<cb:define ccnetServerPathAbs = "$(localpathAbs)\ccnet\server" />
	<cb:define svnLocalPathAbs = "C:\SST\svn" />
	<cb:define antPathRel = "3rdparty\original\apache\ant\1.7.1\bin\bin\ant.bat" />
	<cb:define branchesPathRel = "branches" />
	<cb:define requiredAntJavaVersion = "1.6" />
	
	<cb:define javaComponentsPathRel = "JavaComponents" />
	<cb:define backendPathRel = "Backend" />
	


	
	
	
	<cb:scope branch = "2.0.1.x.win">

		<queue name="BackendQueue_$(branch)" duplicates="ApplyForceBuildsReAdd"/>
		
		<project name="Backend_SST_Installer_branch_$(branch)_ALL" queue="BackendQueue_$(branch)" queuePriority="1" >
		</project>
		
		<cb:scope source="1.3">
		
			<cb:scope target="1.2">

				<cb:scope project.name = "Backend_SST_Installer_branch_$(branch)_source_$(source)_target_$(target)" >
					<project name="$(project.name)" queue="BackendQueue_$(branch)" queuePriority="7">
					
						<cb:define project.workingDirectory = "$(ccnetServerPathAbs)\$(project.name)\WorkingDirectory" /> 
						<cb:define project.artifactDirectory = "$(ccnetServerPathAbs)\$(project.name)\Artifacts" /> 
						<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(backendPathRel)\SST\Installer" /> 
						<workingDirectory>$(project.workingDirectory)</workingDirectory>
						<artifactDirectory>$(project.artifactDirectory)</artifactDirectory>
						
						<sourcecontrol type="nullSourceControl" />
						<triggers>
							<projectTrigger project="Backend_SST_Installer_branch_$(branch)_ALL" >
								<innerTrigger type="intervalTrigger" seconds="60" buildCondition="ForceBuild" initialSeconds="30"/>
							</projectTrigger>
						</triggers>
						
				    <tasks>
				    	<exec>
								<baseDirectory>$(dir)</baseDirectory>
								<executable>build.xml.bat</executable>
								<buildArgs>-logger org.apache.tools.ant.XmlLogger -verbose -debug -logfile $(project.workingDirectory)\build.xml.log -Dverbose="no" -Ddeprecation="on" -Dsource=$(source) -Dtarget=$(target) -DrequiredAntJavaVersion=$(requiredAntJavaVersion) -f build.xml cleanall,install</buildArgs>
								<buildTimeoutSeconds>90</buildTimeoutSeconds>
							</exec>
				    </tasks>
				    <publishers>
					    <merge>
					        <files>
					            <file>$(project.workingDirectory)\build.xml.log</file>
					        </files>
					    </merge>		
							<xmllogger />
							<modificationHistory />					
							<statistics />					
							<rss/>
				    </publishers>
						
					</project>	
				</cb:scope>
				
			</cb:scope> <!-- target-->
	
		</cb:scope> <!-- source-->

		<cb:scope source="1.4">
		
			<cb:scope target="1.4">

				<cb:scope project.name = "Backend_SST_Installer_branch_$(branch)_source_$(source)_target_$(target)" >
					<project name="$(project.name)" queue="BackendQueue_$(branch)" queuePriority="6">
					
						<cb:define project.workingDirectory = "$(ccnetServerPathAbs)\$(project.name)\WorkingDirectory" /> 
						<cb:define project.artifactDirectory = "$(ccnetServerPathAbs)\$(project.name)\Artifacts" /> 
						<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(backendPathRel)\SST\Installer" /> 
						<workingDirectory>$(project.workingDirectory)</workingDirectory>
						<artifactDirectory>$(project.artifactDirectory)</artifactDirectory>
						
						<sourcecontrol type="nullSourceControl" />
						<triggers>
							<projectTrigger project="Backend_SST_Installer_branch_$(branch)_ALL" >
								<innerTrigger type="intervalTrigger" seconds="60" buildCondition="ForceBuild" initialSeconds="30"/>
							</projectTrigger>
						</triggers>
						
				    <tasks>
				    	<exec>
								<baseDirectory>$(dir)</baseDirectory>
								<executable>build.xml.bat</executable>
								<buildArgs>-logger org.apache.tools.ant.XmlLogger -verbose -debug -logfile $(project.workingDirectory)\build.xml.log -Dverbose="no" -Ddeprecation="on" -Dsource=$(source) -Dtarget=$(target) -DrequiredAntJavaVersion=$(requiredAntJavaVersion) -f build.xml cleanall,install</buildArgs>
								<buildTimeoutSeconds>90</buildTimeoutSeconds>
							</exec>
				    </tasks>
				    <publishers>
					    <merge>
					        <files>
					            <file>$(project.workingDirectory)\build.xml.log</file>
					        </files>
					    </merge>		
							<xmllogger />
							<modificationHistory />					
							<statistics />					
							<rss/>
				    </publishers>
						
					</project>	
				</cb:scope>
				
			</cb:scope> <!-- target-->
	
		</cb:scope> <!-- source-->
		
		
		<cb:scope source="1.5">
		
			<cb:scope target="1.5">

				<cb:scope project.name = "Backend_SST_Installer_branch_$(branch)_source_$(source)_target_$(target)" >
					<project name="$(project.name)" queue="BackendQueue_$(branch)" queuePriority="5">
					
						<cb:define project.workingDirectory = "$(ccnetServerPathAbs)\$(project.name)\WorkingDirectory" /> 
						<cb:define project.artifactDirectory = "$(ccnetServerPathAbs)\$(project.name)\Artifacts" /> 
						<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(backendPathRel)\SST\Installer" /> 
						<workingDirectory>$(project.workingDirectory)</workingDirectory>
						<artifactDirectory>$(project.artifactDirectory)</artifactDirectory>
						
						<sourcecontrol type="nullSourceControl" />
						<triggers>
							<projectTrigger project="Backend_SST_Installer_branch_$(branch)_ALL" >
								<innerTrigger type="intervalTrigger" seconds="60" buildCondition="ForceBuild" initialSeconds="30"/>
							</projectTrigger>
						</triggers>
						
				    <tasks>
				    	<exec>
								<baseDirectory>$(dir)</baseDirectory>
								<executable>build.xml.bat</executable>
								<buildArgs>-logger org.apache.tools.ant.XmlLogger -verbose -debug -logfile $(project.workingDirectory)\build.xml.log -Dverbose="no" -Ddeprecation="on" -Dsource=$(source) -Dtarget=$(target) -DrequiredAntJavaVersion=$(requiredAntJavaVersion) -f build.xml cleanall,install</buildArgs>
								<buildTimeoutSeconds>90</buildTimeoutSeconds>
							</exec>
				    </tasks>
				    <publishers>
					    <merge>
					        <files>
					            <file>$(project.workingDirectory)\build.xml.log</file>
					        </files>
					    </merge>		
							<xmllogger />
							<modificationHistory />					
							<statistics />					
							<rss/>
				    </publishers>
						
					</project>	
				</cb:scope>
				
			</cb:scope> <!-- target-->
	
		</cb:scope> <!-- source-->		
		
		
		<cb:scope source="1.6">
		
			<cb:scope target="1.6">

				<cb:scope project.name = "Backend_SST_Installer_branch_$(branch)_source_$(source)_target_$(target)" >
					<project name="$(project.name)" queue="BackendQueue_$(branch)" queuePriority="4">
					
						<cb:define project.workingDirectory = "$(ccnetServerPathAbs)\$(project.name)\WorkingDirectory" /> 
						<cb:define project.artifactDirectory = "$(ccnetServerPathAbs)\$(project.name)\Artifacts" /> 
						<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(backendPathRel)\SST\Installer" /> 
						<workingDirectory>$(project.workingDirectory)</workingDirectory>
						<artifactDirectory>$(project.artifactDirectory)</artifactDirectory>
						
						<sourcecontrol type="nullSourceControl" />
						<triggers>
							<projectTrigger project="Backend_SST_Installer_branch_$(branch)_ALL" >
								<innerTrigger type="intervalTrigger" seconds="60" buildCondition="ForceBuild" initialSeconds="30"/>
							</projectTrigger>
						</triggers>
						
				    <tasks>
				    	<exec>
								<baseDirectory>$(dir)</baseDirectory>
								<executable>build.xml.bat</executable>
								<buildArgs>-logger org.apache.tools.ant.XmlLogger -verbose -debug -logfile $(project.workingDirectory)\build.xml.log -Dverbose="no" -Ddeprecation="on" -Dsource=$(source) -Dtarget=$(target) -DrequiredAntJavaVersion=$(requiredAntJavaVersion) -f build.xml cleanall,install</buildArgs>
								<buildTimeoutSeconds>90</buildTimeoutSeconds>
							</exec>
				    </tasks>
				    <publishers>
					    <merge>
					        <files>
					            <file>$(project.workingDirectory)\build.xml.log</file>
					        </files>
					    </merge>		
							<xmllogger />
							<modificationHistory />					
							<statistics />					
							<rss/>
				    </publishers>
						
					</project>	
				</cb:scope>
				
			</cb:scope> <!-- target-->
	
		</cb:scope> <!-- source-->

		
	</cb:scope> <!-- branch-->
		
		
<!--	<project name="CIServer2_trunk">
		<triggers>
				<intervalTrigger seconds="300" />
		</triggers>
		<sourcecontrol type="svn">
				<trunkUrl>$(svn_server)/Sandbox/trunk/CIServer2</trunkUrl>
				<workingDirectory>$(localpathAbs)</workingDirectory>
				<username>kroe</username>
		</sourcecontrol>
    <publishers>
			<xmllogger />
    </publishers>			
	</project>
-->
	
<!--   <project name="CIServer2_trunk_3rdparty_check">
    <sourcecontrol type="nullSourceControl" />
    <tasks>
    	<exec>
				<executable>$(localpathAbs)\$(antPathRel)</executable>
					<buildArgs>-logger org.apache.tools.ant.XmlLogger -logfile build_log.xml -version</buildArgs>
					<buildTimeoutSeconds>5</buildTimeoutSeconds>
			</exec>
    </tasks>
    <publishers>
			<xmllogger />
    </publishers>
  </project> -->
		

<!-- 		<cb:scope>
			<cb:define project.name = "JavaComponents_HOB_branch_$(branch)" />
			<project name="$(project.name)">
			
				<cb:define project.workingDirectory = "$(ccnetServerPathAbs)\$(project.name)\WorkingDirectory" /> 
				<cb:define project.artifactDirectory = "$(ccnetServerPathAbs)\$(project.name)\Artifacts" /> 
				<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(javaComponentsPathRel)\HOB\JavaBase" /> 
				<workingDirectory>$(project.workingDirectory)</workingDirectory>
				<artifactDirectory>$(project.artifactDirectory)</artifactDirectory>
				
				<sourcecontrol type="nullSourceControl" />
		    <tasks>
		    	<exec>
						<baseDirectory>$(dir)</baseDirectory>
						<executable>$(localpathAbs)\$(antPathRel)</executable>
						<buildArgs>-logger org.apache.tools.ant.XmlLogger -verbose -debug -logfile $(project.workingDirectory)\build_log.xml -f build.xml -Dbuilddir=$(project.workingDirectory)\build all</buildArgs>
						<buildTimeoutSeconds>90</buildTimeoutSeconds>
					</exec>
		    </tasks>
		    <publishers>
			    <merge>
			        <files>
			            <file>$(project.workingDirectory)\build_log.xml</file>
			        </files>
			    </merge>		
					<xmllogger />
					<modificationHistory />					
					<statistics />					
					<rss/>
		    </publishers>
				
			</project>	
		</cb:scope>
	
		<cb:scope>
			<cb:define project.name = "JavaComponents_Jars_branch_$(branch)" />
			<project name="$(project.name)">
			
				<cb:define project.workingDirectory = "$(ccnetServerPathAbs)\$(project.name)\WorkingDirectory" /> 
				<cb:define project.artifactDirectory = "$(ccnetServerPathAbs)\$(project.name)\Artifacts" /> 
				<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(javaComponentsPathRel)\ThirdParty" /> 
				<workingDirectory>$(project.workingDirectory)</workingDirectory>
				<artifactDirectory>$(project.artifactDirectory)</artifactDirectory>
				
				<sourcecontrol type="nullSourceControl" />
		    <tasks>
		    	<exec>
						<baseDirectory>$(dir)</baseDirectory>
						<executable>$(localpathAbs)\$(antPathRel)</executable>
						<buildArgs>-logger org.apache.tools.ant.XmlLogger -verbose -debug -logfile $(project.workingDirectory)\build_log.xml -f build.xml cleanall,build</buildArgs>
						<buildTimeoutSeconds>90</buildTimeoutSeconds>
					</exec>
		    </tasks>
		    <publishers>
			    <merge>
			        <files>
			            <file>$(project.workingDirectory)\build_log.xml</file>
			        </files>
			    </merge>		
					<xmllogger />
					<modificationHistory />					
					<statistics />	
					<rss/>
		    </publishers>
				
			</project>	
		</cb:scope>
		
	</cb:scope>
	
	 -->
<!-- 	<cb:scope branch = "2.0.1.x">
	
	  <project name="JavaComponents_Jars_branch_$(branch)">
			<cb:scope>
				<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(javaComponentsPathRel)\ThirdParty" /> 

				<sourcecontrol type="nullSourceControl" />
		    <tasks>
		    	<exec>
						<baseDirectory>$(dir)</baseDirectory>
						<executable>$(localpathAbs)\$(antPathRel)</executable>
						<buildArgs>-logger org.apache.tools.ant.XmlLogger -logfile build_log.xml -f build.xml cleanall,build</buildArgs>
						<buildTimeoutSeconds>5</buildTimeoutSeconds>
					</exec>
		    </tasks>
		    <publishers>
			    <merge>
			        <files>
			            <file>$(dir)\build_log.xml</file>
			        </files>
			    </merge>		
					<xmllogger />
		    </publishers>
				
			</cb:scope>
	  </project>	
		
	  <project name="JavaComponents_HOB_branch_$(branch)">
			<cb:scope>
				<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(javaComponentsPathRel)\HOB\JavaBase" /> 

				<sourcecontrol type="nullSourceControl" />
		    <tasks>
		    	<exec>
						<baseDirectory>$(dir)</baseDirectory>
						<executable>$(localpathAbs)\$(antPathRel)</executable>
						<buildArgs>-logger org.apache.tools.ant.XmlLogger -logfile build_log.xml -f build.xml cleanall,build</buildArgs>
						<buildTimeoutSeconds>5</buildTimeoutSeconds>
					</exec>
		    </tasks>
		    <publishers>
			    <merge>
			        <files>
			            <file>$(dir)\build_log.xml</file>
			        </files>
			    </merge>		
					<xmllogger />
		    </publishers>
			</cb:scope>
	  </project>		
	
	</cb:scope>
 -->	
	
</cruisecontrol>