<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

	<cb:define svn_server = "http://seiudvikling.sst.dk" />
	<cb:define localpathAbs = "C:\SST\svn\trunk\Sandbox\CIServer2" />
	<cb:define svnLocalPathAbs = "C:\SST\svn" />
	<cb:define antPathRel = "3rdparty\original\apache\ant\1.7.1\bin\bin\ant.bat" />
	<cb:define branchesPathRel = "branches" />
	
	<cb:define javaComponentsPathRel = "JavaComponents" />
	

	
	<project name="CIServer2_trunk">
		<triggers>
				<intervalTrigger seconds="300" />
		</triggers>
		<sourcecontrol type="svn">
				<trunkUrl>$(svn_server)/Sandbox/trunk/CIServer2</trunkUrl>
				<workingDirectory>$(localpathAbs)</workingDirectory>
				<username>kroe</username>
		</sourcecontrol>
    <publishers>
			<xmllogger />
    </publishers>			
	</project>

	
  <project name="CIServer2_trunk_3rdparty_check">
    <sourcecontrol type="nullSourceControl" />
    <tasks>
    	<exec>
				<executable>$(localpathAbs)\$(antPathRel)</executable>
					<buildArgs>-logger org.apache.tools.ant.XmlLogger -logfile build_log.xml -version</buildArgs>
					<buildTimeoutSeconds>5</buildTimeoutSeconds>
			</exec>
    </tasks>
    <publishers>
			<xmllogger />
    </publishers>
  </project>
	
	<cb:scope branch = "2.0.1.x">
	
	  <project name="JavaComponents_Jars_branch_$(branch)">
			<cb:scope>
				<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(javaComponentsPathRel)\ThirdParty" /> 

				<sourcecontrol type="nullSourceControl" />
		    <tasks>
		    	<exec>
						<baseDirectory>$(dir)</baseDirectory>
						<executable>$(localpathAbs)\$(antPathRel)</executable>
						<buildArgs>-logger org.apache.tools.ant.XmlLogger -logfile build_log.xml -f build.xml cleanall,build</buildArgs>
						<buildTimeoutSeconds>5</buildTimeoutSeconds>
					</exec>
		    </tasks>
		    <publishers>
			    <merge>
			        <files>
			            <file>$(dir)\build_log.xml</file>
			        </files>
			    </merge>		
					<xmllogger />
		    </publishers>
				
			</cb:scope>
	  </project>	
		
	  <project name="JavaComponents_HOB_branch_$(branch)">
			<cb:scope>
				<cb:define dir = "$(svnLocalPathAbs)\$(branchesPathRel)\$(branch)\$(javaComponentsPathRel)\HOB\JavaBase" /> 

				<sourcecontrol type="nullSourceControl" />
		    <tasks>
		    	<exec>
						<baseDirectory>$(dir)</baseDirectory>
						<executable>$(localpathAbs)\$(antPathRel)</executable>
						<buildArgs>-logger org.apache.tools.ant.XmlLogger -logfile build_log.xml -f build.xml cleanall,build</buildArgs>
						<buildTimeoutSeconds>5</buildTimeoutSeconds>
					</exec>
		    </tasks>
		    <publishers>
			    <merge>
			        <files>
			            <file>$(dir)\build_log.xml</file>
			        </files>
			    </merge>		
					<xmllogger />
		    </publishers>
			</cb:scope>
	  </project>		
	
	</cb:scope>
	
	
</cruisecontrol>